<app-header></app-header>
<div class="basicrow mbott-i">
  <div class="container">
    <div class="basicrow m-top-i mbott">
      <div class="difftabs">
        <div class="difft-def def-a on">Cliente Nuevo</div>

        <a href="#" class="difft-def auto-d-i">
          <span class="roboto-b">Tipo de Subcuenta:</span> Individual / Update
          <i class="fa fa-pencil" aria-hidden="true"></i>
        </a>

        <a href="#" class="difft-def auto-d">
          <span class="roboto-b">Tipo de BAN:</span> Individual <i class="fa fa-pencil" aria-hidden="true"></i>
        </a>
      </div>
    </div>

    <div class="basicrow f-black f-reg roboto-r">
      <div class="basicrow f-btitle">Validaci&oacute;n de Identidad</div>

      <div class="basicrow m-top-u text-justify">
        Por favor ingresa la informaci&oacute;n solicitada abajo. Esta informaci&oacute;n es solicitada por seguridad
        para validar su orden de compra.
      </div>

      <div class="basicrow m-top-i m-bott">
        <div class="basicrow roboto-b">1. Seleccione si usted vivir en alguna de las siguientes direcciones:</div>

        <div class="optchoice roboto-r text-left mbott-ii on">
          <div class="checkdef">
            <input type="radio" name="radioG1" id="radioG1" class="css-radio" checked /><label
              for="radioG1"
              class="css-label3 radGroup1"
            ></label>
          </div>

          <div class="basicrow f-med roboto-b">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et
            dolore magna aliqua
          </div>
        </div>

        <div class="optchoice roboto-r text-left mbott-ii">
          <div class="checkdef">
            <input type="radio" name="radioG2" id="radioG2" class="css-radio" /><label
              for="radioG2"
              class="css-label3 radGroup1"
            ></label>
          </div>

          <div class="basicrow f-med roboto-b">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et
            dolore magna aliqua
          </div>
        </div>

        <div class="optchoice roboto-r text-left mbott-ii">
          <div class="checkdef">
            <input type="radio" name="radioG3" id="radioG3" class="css-radio" /><label
              for="radioG3"
              class="css-label3 radGroup1"
            ></label>
          </div>

          <div class="basicrow f-med roboto-b">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et
            dolore magna aliqua
          </div>
        </div>

        <div class="optchoice roboto-r text-left mbott-ii">
          <div class="checkdef">
            <input type="radio" name="radioG4" id="radioG4" class="css-radio" /><label
              for="radioG4"
              class="css-label3 radGroup1"
            ></label>
          </div>

          <div class="basicrow f-med roboto-b">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et
            dolore magna aliqua
          </div>
        </div>

        <div class="optchoice roboto-r text-left mbott-ii">
          <div class="checkdef">
            <input type="radio" name="radioG5" id="radioG5" class="css-radio" /><label
              for="radioG5"
              class="css-label3 radGroup1"
            ></label>
          </div>

          <div class="basicrow f-med roboto-b">Ninguna de las anteriores</div>
        </div>
      </div>

      <div class="basicrow m-top-i m-bott">
        <div class="basicrow roboto-b">
          2. De acuerdo a su historial de cr&eacute;dito, usted abrir una cuenta de cr&eacute;dito para auto en el
          a&ntilde;o 2008. Por favor seleccione el banco del pr&eacute;stamo para esta cuenta. Si no posee un
          cr&eacute;dito para auto seleccione:
        </div>

        <div class="optchoice roboto-r text-left mbott-ii on">
          <div class="checkdef">
            <input type="radio" name="radioG6" id="radioG6" class="css-radio" checked /><label
              for="radioG6"
              class="css-label3 radGroup1"
            ></label>
          </div>

          <div class="basicrow f-med roboto-b">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et
            dolore magna aliqua
          </div>
        </div>

        <div class="optchoice roboto-r text-left mbott-ii">
          <div class="checkdef">
            <input type="radio" name="radioG7" id="radioG7" class="css-radio" /><label
              for="radioG7"
              class="css-label3 radGroup1"
            ></label>
          </div>

          <div class="basicrow f-med roboto-b">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et
            dolore magna aliqua
          </div>
        </div>

        <div class="optchoice roboto-r text-left mbott-ii">
          <div class="checkdef">
            <input type="radio" name="radioG8" id="radioG8" class="css-radio" /><label
              for="radioG8"
              class="css-label3 radGroup1"
            ></label>
          </div>

          <div class="basicrow f-med roboto-b">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et
            dolore magna aliqua
          </div>
        </div>

        <div class="optchoice roboto-r text-left mbott-ii">
          <div class="checkdef">
            <input type="radio" name="radioG9" id="radioG9" class="css-radio" /><label
              for="radioG9"
              class="css-label3 radGroup1"
            ></label>
          </div>

          <div class="basicrow f-med roboto-b">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et
            dolore magna aliqua
          </div>
        </div>

        <div class="optchoice roboto-r text-left mbott-ii">
          <div class="checkdef">
            <input type="radio" name="radioG10" id="radioG10" class="css-radio" /><label
              for="radioG10"
              class="css-label3 radGroup1"
            ></label>
          </div>

          <div class="basicrow f-med roboto-b">Ninguna de las anteriores</div>
        </div>
      </div>

      <div class="basicrow m-top-i m-bott">
        <div class="basicrow roboto-b">3. Seleccione si usted vivir en alguna de las siguientes direcciones:</div>

        <div class="optchoice roboto-r text-left mbott-ii on">
          <div class="checkdef">
            <input type="radio" name="radioG11" id="radioG11" class="css-radio" checked /><label
              for="radioG11"
              class="css-label3 radGroup1"
            ></label>
          </div>

          <div class="basicrow f-med roboto-b">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et
            dolore magna aliqua
          </div>
        </div>

        <div class="optchoice roboto-r text-left mbott-ii">
          <div class="checkdef">
            <input type="radio" name="radioG12" id="radioG12" class="css-radio" /><label
              for="radioG12"
              class="css-label3 radGroup1"
            ></label>
          </div>

          <div class="basicrow f-med roboto-b">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et
            dolore magna aliqua
          </div>
        </div>

        <div class="optchoice roboto-r text-left mbott-ii">
          <div class="checkdef">
            <input type="radio" name="radioG13" id="radioG13" class="css-radio" /><label
              for="radioG13"
              class="css-label3 radGroup1"
            ></label>
          </div>

          <div class="basicrow f-med roboto-b">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et
            dolore magna aliqua
          </div>
        </div>

        <div class="optchoice roboto-r text-left mbott-ii">
          <div class="checkdef">
            <input type="radio" name="radioG14" id="radioG14" class="css-radio" /><label
              for="radioG14"
              class="css-label3 radGroup1"
            ></label>
          </div>

          <div class="basicrow f-med roboto-b">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et
            dolore magna aliqua
          </div>
        </div>

        <div class="optchoice roboto-r text-left mbott-ii">
          <div class="checkdef">
            <input type="radio" name="radioG15" id="radioG15" class="css-radio" /><label
              for="radioG15"
              class="css-label3 radGroup1"
            ></label>
          </div>

          <div class="basicrow f-med roboto-b">Ninguna de las anteriores</div>
        </div>
      </div>

      <div class="basicrow text-center m-top">
        <a (click)="goTo('clasification-credit')" class="btns red def-i centr vcenter">
          <span class="tabcell"> Continuar&nbsp;&nbsp;<i class="fa fa-angle-right" aria-hidden="true"></i> </span>
        </a>
      </div>
    </div>
  </div>
</div>
<app-footer></app-footer>
