<app-header></app-header>

<div class="basicrow mbott">
  <div class="container">
    <div class="basicrow m-top-i mbott">
      <div class="difftabs">
        <div class="difft-def def-a on">Cliente Nuevo</div>

        <a href="#" class="difft-def auto-d-i">
          <span class="roboto-b">Tipo de Subcuenta:</span> Individual / Update
          <i class="fa fa-pencil" aria-hidden="true"></i>
        </a>

        <a href="#" class="difft-def auto-d">
          <span class="roboto-b">Tipo de BAN:</span> Individual <i class="fa fa-pencil" aria-hidden="true"></i>
        </a>
      </div>
    </div>

    <div class="basicrow f-black f-reg roboto-r">
      <div class="basicrow f-btitle">Creación de Cuenta</div>

      <div class="basicrow m-top-u text-justify">
        Por favor ingrese la información personal solicitada. Nombre y apellido deben ser iguales a su identificación de
        gobierno.
      </div>

      <div class="basicrow">
        <div class="row">
          <div class="agnew-def d-i m-top-i">
            <label class="label-f"> * Título </label>

            <select class="sel-f">
              <option>Sr</option>
            </select>
          </div>

          <div class="agnew-def d-ii m-top-i">
            <label class="label-f"> * Nombre </label>

            <input class="inp-f" />
          </div>

          <div class="agnew-def d-ii m-top-i">
            <label class="label-f"> * Segundo Nombre </label>

            <input class="inp-f" />
          </div>

          <div class="agnew-def d-ii m-top-i">
            <label class="label-f"> * Apellido </label>

            <input class="inp-f" />
          </div>

          <div class="agnew-def d-ii m-top-i">
            <label class="label-f"> * Segundo Apellido </label>

            <input class="inp-f" />
          </div>

          <div class="agnew-def d-ii m-top-i">
            <label class="label-f"> * Seguro social </label>

            <input value="XXX-XX-1234" class="inp-f off" />
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="basicrow f-black f-reg roboto-r mbott m-top-ii bg-gray">
  <div class="container">
    <div class="basicrow mbott-i">
      <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6 m-top-i">
          <div class="basicrow f-mildt roboto-m">Informaci&oacute;n Personal</div>

          <div class="basicrow">
            <div class="row">
              <div class="col-xs-12 col-sm-12 col-md-12 col-lg-6">
                <div class="row">
                  <div class="col-xs-12 col-sm-6 col-md-6 col-lg-12">
                    <div class="basicrow m-top-i">
                      <label class="label-f"> &#42; Fecha de Nacimiento </label>

                      <div class="basicrow rel">
                        <i class="fa fa-calendar calendarinp" aria-hidden="true"></i>

                        <input class="inp-f calndr-def" />
                      </div>
                    </div>
                  </div>

                  <div class="col-xs-12 col-sm-6 col-md-6 col-lg-12">
                    <div class="basicrow m-top-i">
                      <label class="label-f"> &#42; Fecha de Vencimiento </label>

                      <div class="basicrow rel">
                        <i class="fa fa-calendar calendarinp" aria-hidden="true"></i>

                        <input class="inp-f calndr-def" />
                      </div>
                    </div>
                  </div>
                </div>
              </div>

              <div class="col-xs-12 col-sm-12 col-md-12 col-lg-6">
                <div class="basicrow m-top-i">
                  <label class="label-f"> &#42; ID </label>

                  <div class="basicrow">
                    <div class="row">
                      <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
                        <select class="sel-f">
                          <option>Pasaporte</option>
                        </select>
                      </div>

                      <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6 h-mtop-ii"><input class="inp-f" /></div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6 m-top-i">
          <div class="basicrow f-mildt roboto-m">Informaci&oacute;n de Contacto</div>

          <div class="basicrow">
            <div class="row">
              <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
                <div class="basicrow m-top-i">
                  <label class="label-f"> &#42; Tel&eacute;fono de Contacto </label>

                  <input class="inp-f" />
                </div>
              </div>

              <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
                <div class="basicrow m-top-i">
                  <label class="label-f"> &#42; Correo Electr&oacute;nico </label>

                  <input class="inp-f" />
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="basicrow f-black f-reg roboto-r mbott-i">
  <div class="container">
    <div class="basicrow f-black f-reg roboto-r">
      <div class="basicrow f-mildt roboto-m">Direcci&oacute;n Postal</div>

      <div class="basicrow m-top-u text-justify">
        Por favor ingrese su direcci&oacute;n principal de facturación. La direcci&oacute;n debe ser valida.
      </div>

      <div class="basicrow">
        <div class="row">
          <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6 m-top-i">
            <label class="label-f"> &#42; Direcci&oacute;n 1 (Urb, Calle, Rual#, POBOX) </label>

            <input class="inp-f" />
          </div>

          <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6 m-top-i">
            <label class="label-f"> Direcci&oacute;n 2 (opcional) </label>

            <input class="inp-f" />
          </div>

          <div class="col-xs-12 col-sm-6 col-md-3 col-lg-3 m-top-i">
            <label class="label-f"> &#42; Ciudad </label>

            <input class="inp-f" />
          </div>

          <div class="col-xs-12 col-sm-6 col-md-3 col-lg-3 m-top-i">
            <label class="label-f"> &#42; Estado </label>

            <input class="inp-f" />
          </div>

          <div class="col-xs-12 col-sm-6 col-md-3 col-lg-3 m-top-i">
            <label class="label-f"> &#42; Pa&iacute;s </label>

            <input class="inp-f" />
          </div>

          <div class="col-xs-12 col-sm-6 col-md-3 col-lg-3 m-top-i">
            <label class="label-f"> &#42; C&oacute;digo Postal </label>

            <input class="inp-f" />
          </div>
        </div>
      </div>

      <div class="basicrow text-center m-top-i">
        <a (click)="goTo('validate-client')" class="btns red def-i centr vcenter">
          <span class="tabcell"> Continuar&nbsp;&nbsp;<i class="fa fa-angle-right" aria-hidden="true"></i> </span>
        </a>
      </div>
    </div>
  </div>
</div>

<app-footer></app-footer>
