<app-header></app-header>

<div class="basicrow mbott-i">
  <div class="container">
    <div class="basicrow m-top-i mbott">
      <div class="difftabs">
        <div class="difft-def def-a on">Cliente Nuevo</div>

        <a href="#" class="difft-def auto-d-i">
          <span class="roboto-b">Tipo de Subcuenta:</span> Individual / Update
          <i class="fa fa-pencil" aria-hidden="true"></i>
        </a>

        <a href="#" class="difft-def auto-d">
          <span class="roboto-b">Tipo de BAN:</span> Individual <i class="fa fa-pencil" aria-hidden="true"></i>
        </a>
      </div>
    </div>

    <div class="basicrow f-black f-reg roboto-r">
      <div class="basicrow text-center">
        <div class="shortcont">
          <div class="basicrow text-center">
            <div class="rdtitles"><span class="roboto-b">Confirmaci&oacute;n</span> de Orden</div>
          </div>

          <div class="greenmsg m-top-i">
            <i class="fa fa-check-circle" aria-hidden="true"></i>

            <div class="basicrow">N&uacute;mero de Confirmaci&oacute;n: <span class="roboto-b">1234567890</span></div>

            <div class="basicrow m-top-u">Metodo de Pago: <span class="roboto-b">VISA</span></div>

            <div class="basicrow m-top-u">
              Fecha/Hora: <span class="roboto-b">09/08/2018 <span class="f-gray">12:00:00</span></span>
            </div>

            <div class="basicrow m-top-u roboto-b f-red-i">
              Monto:<br />
              <span class="f-btitle-ii">&#36;203.50</span>
            </div>
          </div>

          <div class="basicrow">
            <div class="row">
              <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
                <a href="#" class="btns blue vcenter">
                  <span class="tabcell"> Enviar por Email <i class="fa fa-envelope" aria-hidden="true"></i> </span>
                </a>
              </div>

              <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6 h-mtop-ii">
                <a href="#" class="btns blue vcenter">
                  <span class="tabcell"> Imprimir <i class="fa fa-print" aria-hidden="true"></i> </span>
                </a>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="basicrow m-top-i">
        <div class="basicrow f-btitle">Recibo de Pago</div>

        <div class="basicrow m-top">
          <div class="boxtbl ordr-def">
            <div class="tab-tbar hidden-sm hidden-xs">
              <div class="frwds ordr-rsm rline vcenter"><div class="tabcell">Descripci&oacute;n</div></div>

              <div class="frwds ordr-rsm rline vcenter"><div class="tabcell">Cargo por Servicio Mensual</div></div>

              <div class="frwds ordr-rsm vcenter"><div class="tabcell">Total a Pagar Hoy</div></div>
            </div>

            <div class="basicrow">
              <div class="row">
                <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4">
                  <div class="basicrow allpads">
                    <div class="basicrow">IMEI: <span class="roboto-b">996244761380000</span></div>

                    <div class="basicrow m-top-u">SIM: <span class="roboto-b">996244761380000</span></div>
                  </div>
                </div>

                <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4">
                  <div class="tab-tbar visible-sm visible-xs">
                    <div class="frwds ordr-rsm rline vcenter">
                      <div class="tabcell">Cargo por Servicio Mensual</div>
                    </div>
                  </div>

                  <div class="basicrow allpads-i">
                    <div class="row">
                      <div class="col-xs-7 col-sm-8 col-md-8 col-lg-8 pull-left">
                        Financiamiento de Equipo<br />
                        <span class="roboto-b f-green-i">T&eacute;rmino de Pago Update (24 meses)</span>
                      </div>

                      <div class="col-xs-5 col-sm-4 col-md-4 col-lg-4 f-bmed roboto-b pull-right text-right">
                        &#36;37.50
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>

            <div class="basicrow msidespad"><div class="logline full"></div></div>

            <div class="basicrow allpads">
              <div class="basicrow">
                <div class="row">
                  <div class="col-xs-12 col-sm-12 col-md-8 col-lg-8">
                    <div class="row">
                      <div class="col-xs-7 col-sm-8 col-md-8 col-lg-8 f-bmed-i pull-left">Plan FEBIS29L</div>

                      <div class="col-xs-5 col-sm-4 col-md-4 col-lg-4 f-bmed roboto-b pull-right text-right">
                        &#36;29.00
                      </div>
                    </div>
                  </div>
                </div>
              </div>

              <div class="basicrow m-top">
                <div class="row">
                  <div class="col-xs-12 col-sm-12 col-md-8 col-lg-8">
                    <div class="row">
                      <div class="col-xs-7 col-sm-8 col-md-8 col-lg-8 f-bmed pull-left roboto-b">Subtotal</div>

                      <div class="col-xs-5 col-sm-4 col-md-4 col-lg-4 f-bmed roboto-b f-red pull-right text-right">
                        &#36;66.50
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>

            <div class="basicrow">
              <div class="tab-tbar visible-sm visible-xs">
                <div class="frwds ordr-rsm rline vcenter"><div class="tabcell">Total a Pagar Hoy</div></div>
              </div>

              <div class="basicrow allpads-ii topbord-i bg-gray">
                <div class="row">
                  <div class="col-xs-7 col-sm-8 col-md-8 col-lg-8 pull-left f-bmed-i">
                    Cargos por Impuesto Estatal de Equipo - IVU 10.5%
                  </div>

                  <div class="col-xs-5 col-sm-4 col-md-4 col-lg-4 f-bmed roboto-b pull-right text-right">
                    &#36;94.50
                  </div>
                </div>
              </div>

              <div class="basicrow allpads-ii">
                <div class="row">
                  <div class="col-xs-7 col-sm-8 col-md-8 col-lg-8 pull-left f-bmed-i">
                    Cargos por Impuesto Municipal - IVU 1%
                  </div>

                  <div class="col-xs-5 col-sm-4 col-md-4 col-lg-4 f-bmed roboto-b pull-right text-right">&#36;9.00</div>
                </div>
              </div>

              <div class="basicrow allpads-ii bg-gray">
                <div class="row">
                  <div class="col-xs-7 col-sm-8 col-md-8 col-lg-8 pull-left f-bmed-i">
                    Total Cargos Estatales y Federales
                  </div>

                  <div class="col-xs-5 col-sm-4 col-md-4 col-lg-4 f-bmed roboto-b pull-right text-right">
                    &#36;103.50
                  </div>
                </div>
              </div>

              <div class="basicrow allpads-ii">
                <div class="row">
                  <div class="col-xs-7 col-sm-8 col-md-8 col-lg-8 pull-left f-bmed-i">
                    Cargo por dep&oacute;sito requerido por l&iacute;nea de Cr&eacute;dito
                  </div>

                  <div class="col-xs-5 col-sm-4 col-md-4 col-lg-4 f-bmed roboto-b pull-right text-right">
                    &#36;100.00
                  </div>
                </div>
              </div>

              <div class="basicrow allpads-ii bg-gray-ii">
                <div class="basicrow">
                  <div class="row">
                    <div class="col-xs-7 col-sm-8 col-md-8 col-lg-8 pull-left f-bmed-i">
                      Descuento por C&oacute;digo Promocional
                    </div>

                    <div class="col-xs-5 col-sm-4 col-md-4 col-lg-4 f-bmed roboto-b pull-right text-right">
                      &#36;0.00
                    </div>
                  </div>
                </div>
              </div>

              <div class="basicrow allpads bg-gray topbord-i">
                <div class="row">
                  <div class="col-xs-12 col-sm-6 col-md-8 col-lg-8 text-right">
                    <span class="f-bmed roboto-black"> Renta Mensual Aproximada </span><br />

                    <span class="f-btitle-ii roboto-m f-red"> &#36;66.50 </span>
                  </div>

                  <div class="col-xs-12 col-sm-6 col-md-4 col-lg-4 h-mtop-ii text-right">
                    <span class="f-bmed roboto-black"> Total a Pagar Hoy </span><br />

                    <span class="f-btitle-ii roboto-m f-red"> &#36;203.50 </span>
                  </div>
                </div>
              </div>

              <div class="basicrow allpads bg-gray-iii topbord-i roboto-b text-right sw-justify">
                Renta mensual aproximada no incluye cargos estatales, federales, ni otros impuestos.
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<app-footer></app-footer>
