<app-header></app-header>
<div class="basicrow mbott">
  <div class="container">
    <div class="basicrow m-top-i mbott">
      <div class="difftabs">
        <div class="difft-def def-a on">Cliente Nuevo</div>

        <a href="#" class="difft-def auto-d-i">
          <span class="roboto-b">Tipo de Subcuenta:</span> Individual / Update
          <i class="fa fa-pencil" aria-hidden="true"></i>
        </a>

        <a href="#" class="difft-def auto-d">
          <span class="roboto-b">Tipo de BAN:</span> Individual <i class="fa fa-pencil" aria-hidden="true"></i>
        </a>
      </div>
    </div>

    <div class="basicrow f-black f-reg roboto-r">
      <div class="basicrow">
        <div class="autorow full-c-i pull-left">
          <span class="dispblock f-btitle"> Equipo, Plan y SVA </span>

          <span class="dispblock m-top-u"> Equipo, plan y Servicios de Valor Agregado. </span>
        </div>

        <div class="dev-infos text-center">
          <div class="dev-info-i">
            <span class="roboto-b">Tecnolog&iacute;a</span><br />
            <span class="f-semi roboto-m f-green"> GSM </span>
          </div>

          <div class="dev-info-ii">
            <span class="roboto-b">BAN</span><br />
            <span class="f-semi roboto-m f-red"> 79712345 </span>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="basicrow f-black f-reg roboto-r mbott bg-gray">
  <div class="container">
    <div class="basicrow">
      <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-8 col-lg-6 col-md-offset-2 col-lg-offset-3">
          <div class="basicrow m-top m-bott">
            <div class="basicrow f-mildt roboto-m">Informaci&oacute;n del Equipo</div>

            <div class="basicrow m-top-u">
              Por favor selecciona la opci&oacute;n de Lector &Oacute;ptico o ingresa el n&uacute;mero de SIM CARD y
              IMEI.
            </div>

            <div class="autowcont m-top allpads">
              <div class="row">
                <div class="col-xs-5 col-sm-5 col-md-5 col-lg-5">
                  <div class="basicrow f-bmed roboto-b">Lector &Oacute;ptico</div>

                  <div class="basicrow text-center m-top-ii">
                    <img class="simcard-def" width="100%" src="../assets/images/simcard-photo.jpg" />
                  </div>

                  <div class="basicrow text-center m-top-ii">
                    <img class="imei-def" width="100%" src="../assets/images/imei-examp.jpg" />
                  </div>
                </div>

                <div class="col-xs-7 col-sm-7 col-md-7 col-lg-7">
                  <div class="basicrow f-bmed roboto-b">N&uacute;mero de C&oacute;digo</div>

                  <div class="basicrow m-top-ii">
                    <label class="label-f"> &#42; SIM CARD </label>

                    <input class="inp-f" />
                  </div>

                  <div class="basicrow m-top-ii">
                    <label class="label-f"> &#42; IMEI </label>

                    <input class="inp-f" />
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="basicrow f-black f-reg roboto-r mbott-i">
  <div class="container">
    <div class="basicrow f-mildt roboto-m">Opciones de Financiamiento y Compra</div>

    <div class="basicrow">
      <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-9 m-top">
          <div class="basicrow roboto-b">Financiamiento a plazos</div>

          <div class="basicrow">
            <div class="row">
              <div class="col-xs-12 col-sm-6 col-md-3 col-lg-3">
                <div class="optchoice roboto-r mbott-ii on">
                  <div class="checkdef">
                    <input type="radio" name="radioG4" id="radioG4" class="css-radio" checked /><label
                      for="radioG4"
                      class="css-label3 radGroup1"
                    ></label>
                  </div>

                  <div class="basicrow f-bmed text-center roboto-b">
                    20 Plazos<br />
                    <span class="f-red">&#36;40.00</span>
                  </div>
                </div>
              </div>

              <div class="col-xs-12 col-sm-6 col-md-3 col-lg-3">
                <div class="optchoice roboto-r mbott-ii">
                  <div class="checkdef">
                    <input type="radio" name="radioG4" id="radioG4" class="css-radio" /><label
                      for="radioG4"
                      class="css-label3 radGroup1"
                    ></label>
                  </div>

                  <div class="basicrow f-bmed text-center roboto-b">
                    24 Plazos<br />
                    <span class="f-red">&#36;33.00</span>
                  </div>
                </div>
              </div>

              <div class="col-xs-12 col-sm-6 col-md-3 col-lg-3">
                <div class="optchoice roboto-r mbott-ii">
                  <div class="checkdef">
                    <input type="radio" name="radioG4" id="radioG4" class="css-radio" /><label
                      for="radioG4"
                      class="css-label3 radGroup1"
                    ></label>
                  </div>

                  <div class="basicrow f-bmed text-center roboto-b">
                    30 Plazos<br />
                    <span class="f-red">&#36;26.67</span>
                  </div>
                </div>
              </div>

              <div class="col-xs-12 col-sm-6 col-md-3 col-lg-3">
                <div class="optchoice roboto-r mbott-ii">
                  <div class="checkdef">
                    <input type="radio" name="radioG4" id="radioG4" class="css-radio" /><label
                      for="radioG4"
                      class="css-label3 radGroup1"
                    ></label>
                  </div>

                  <div class="basicrow f-bmed text-center roboto-b">
                    36 Plazos<br />
                    <span class="f-red">&#36;22.22</span>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-3 m-top">
          <div class="basicrow roboto-b">Precio Regular</div>

          <div class="optchoice roboto-r mbott-ii">
            <div class="checkdef">
              <input type="radio" name="radioG4" id="radioG4" class="css-radio" /><label
                for="radioG4"
                class="css-label3 radGroup1"
              ></label>
            </div>

            <div class="basicrow f-bmed text-center roboto-b">
              Pagar Full<br />
              <span class="f-red">&#36;799.99</span>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="basicrow">
      <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
          <div class="basicrow f-mildt roboto-m m-top-i">Plan</div>

          <div class="basicrow m-top-u">Ingrese &oacute; seleccione de la lista el c&oacute;digo del plan.</div>

          <div class="basicrow m-top">
            <label class="label-f">&#42; SOC</label>

            <div class="basicrow">
              <input class="inp-f soc-def" />

              <a href="#" class="soc-srch vcenter">
                <span class="tabcell"> <i class="fa fa-search"></i> </span>
              </a>
            </div>
          </div>

          <div class="basicrow m-top-i">
            <div class="boxtbl">
              <div class="tab-tbar">
                <div class="frwds soc-i rline vcenter"><div class="tabcell">SOC</div></div>

                <div class="frwds soc-ii vcenter"><div class="tabcell">Costo</div></div>
              </div>

              <div class="basicrow">
                <div class="tab-cbar">
                  <div class="frwds soc-i rline vcenter"><div class="tabcell">FEBIS29L</div></div>

                  <div class="frwds soc-ii vcenter">
                    <div class="tabcell"><span class="roboto-black"> &#36;29.00 </span></div>
                  </div>
                </div>

                <div class="tab-cbar bg-gray">
                  <div class="frwds soc-i rline vcenter"><div class="tabcell">MAR39L</div></div>

                  <div class="frwds soc-ii vcenter">
                    <div class="tabcell"><span class="roboto-black"> &#36;39.00 </span></div>
                  </div>
                </div>

                <div class="tab-cbar">
                  <div class="frwds soc-i rline vcenter"><div class="tabcell">XXL1L</div></div>

                  <div class="frwds soc-ii vcenter">
                    <div class="tabcell"><span class="roboto-black"> &#36;50.00 </span></div>
                  </div>
                </div>

                <div class="tab-cbar bg-gray">
                  <div class="frwds soc-i rline vcenter"><div class="tabcell">CLASFUNLI</div></div>

                  <div class="frwds soc-ii vcenter">
                    <div class="tabcell"><span class="roboto-black"> &#36;80.00 </span></div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
          <div class="basicrow f-mildt roboto-m m-top-i">Servicio de Valor Agregado</div>

          <div class="basicrow m-top-u">Ingrese &oacute; seleccione de la lista el c&oacute;digo del plan.</div>

          <div class="basicrow m-top">
            <label class="label-f">&#42; SOC</label>

            <div class="basicrow">
              <input class="inp-f soc-def" />

              <a href="#" class="soc-srch vcenter">
                <span class="tabcell"> <i class="fa fa-search"></i> </span>
              </a>
            </div>
          </div>

          <div class="basicrow m-top-i">
            <div class="boxtbl">
              <div class="tab-tbar">
                <div class="frwds soc-i rline vcenter"><div class="tabcell">SOC</div></div>

                <div class="frwds soc-ii vcenter"><div class="tabcell">Costo</div></div>
              </div>

              <div class="basicrow">
                <div class="tab-cbar">
                  <div class="frwds soc-i rline vcenter"><div class="tabcell">CELU RESIDENCIA</div></div>

                  <div class="frwds soc-ii vcenter">
                    <div class="tabcell"><span class="roboto-black"> &#36;4.50 </span></div>
                  </div>
                </div>

                <div class="tab-cbar bg-gray">
                  <div class="frwds soc-i rline vcenter"><div class="tabcell">CELU RESCATE</div></div>

                  <div class="frwds soc-ii vcenter">
                    <div class="tabcell"><span class="roboto-black"> &#36;4.95 </span></div>
                  </div>
                </div>

                <div class="tab-cbar">
                  <div class="frwds soc-i rline vcenter"><div class="tabcell">CLARO PROTECCION MOVIL</div></div>

                  <div class="frwds soc-ii vcenter">
                    <div class="tabcell"><span class="roboto-black"> &#36;11.99 </span></div>
                  </div>
                </div>

                <div class="tab-cbar bg-gray">
                  <div class="frwds soc-i rline vcenter">
                    <div class="tabcell">CLARO PROTECCION MOVIL + CAMBIO DE EQUIPO</div>
                  </div>

                  <div class="frwds soc-ii vcenter">
                    <div class="tabcell"><span class="roboto-black"> &#36;12.99 </span></div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="basicrow m-top-i"><div class="logline full"></div></div>

    <div class="basicrow text-center m-top-i">
      <a href="#" class="btns red def-i centr vcenter">
        <span class="tabcell"> Continuar&nbsp;&nbsp;<i class="fa fa-angle-right" aria-hidden="true"></i> </span>
      </a>
    </div>
  </div>
</div>
<app-footer></app-footer>
