<app-header></app-header>

<div class="basicrow mbott-i" style="min-height: 420px;">
  <div class="container">
    <div class="basicrow m-top-i mbott">
      <div class="difftabs">
        <div class="difft-def def-a on">Cliente Nuevo</div>

        <a href="#" class="difft-def auto-d-i">
          <span class="roboto-b">Tipo de Subcuenta:</span> Individual / Update
          <i class="fa fa-pencil" aria-hidden="true"></i>
        </a>

        <a href="#" class="difft-def auto-d">
          <span class="roboto-b">Tipo de BAN:</span> Individual <i class="fa fa-pencil" aria-hidden="true"></i>
        </a>
      </div>
    </div>

    <div class="basicrow f-black f-reg roboto-r text-center">
      <div class="shortcont">
        <div class="basicrow f-btitle">Clasificaci&oacute;n de Cr&eacute;dito</div>

        <div class="basicrow m-top">
          <div class="userinfo full nomtops">
            <div class="basicrow f-black roboto-b f-bmed">Datos</div>

            <div class="redstat m-top-ii">
              <div class="autorow roboto-r pull-left">Clasificaci&oacute;n de Asignada</div>

              <div class="autorow roboto-b pull-right">D</div>
            </div>

            <div class="redstat m-top-ii">
              <div class="autorow roboto-r pull-left">L&iacute;mite de Cr&eacute;dito</div>

              <div class="autorow roboto-b pull-right">&#36;300.00</div>
            </div>

            <div class="redstat m-top-ii">
              <div class="autorow roboto-r pull-left">N&uacute;mero de l&iacute;neas</div>

              <div class="autorow roboto-b pull-right">2</div>
            </div>

            <div class="redstat m-top-ii">
              <div class="autorow roboto-r pull-left">Dep&oacute;sito Requerido por l&iacute;nea</div>

              <div class="autorow roboto-b pull-right">&#36;100.00</div>
            </div>
          </div>
        </div>

        <div class="basicrow m-top-i">
          <a (click)="goTo('equipo-plan-sva')" class="btns red def-i pull-right vcenter">
            <span class="tabcell"> Continuar&nbsp;&nbsp;<i class="fa fa-angle-right" aria-hidden="true"></i> </span>
          </a>

          <a href="#" class="btns gray def-i pull-left vcenter"> <span class="tabcell"> Cancelar </span> </a>
        </div>
      </div>
    </div>
  </div>
</div>

<app-footer></app-footer>
