<div class="basicrow">
  <app-header></app-header>

  <div class="basicrow mbott" style="min-height: 72vh;">
    <div class="container">
      <div class="basicrow f-black f-reg roboto-r">
        <div class="row">
          <div class="col-xs-12 col-sm-6 col-md-4 col-lg-4">
            <div class="autowcont i-agentcont m-top-i">
              <div class="basicrow msidespad">
                <div class="b-title">
                  <div class="autocont roboto-m f-bmed pull-left vcenter"><div class="tabcell">Localidad</div></div>
                </div>
              </div>

              <div class="basicrow msidespad">Escoja localizaci&oacute;n de la tienda donde va a operar.</div>

              <div class="basicrow bg-gray-i">
                <div class="dealer-ag-i text-center">
                  <span class="roboto-b">C&oacute;digo de Dealer</span><br />
                  <span class="f-semi roboto-m f-green"> 02000 </span>
                </div>

                <div class="dealer-ag-ii">
                  <label class="label-f"> Localidad </label>

                  <select class="sel-f">
                    <option>X100</option>
                  </select>
                </div>
              </div>
            </div>
          </div>

          <div class="col-xs-12 col-sm-6 col-md-4 col-lg-4">
            <div class="autowcont i-agentcont m-top-i">
              <div class="basicrow msidespad">
                <div class="b-title">
                  <div class="autocont roboto-m f-bmed pull-left vcenter">
                    <div class="tabcell">Tipo de Cuenta</div>
                  </div>
                </div>
              </div>

              <div class="basicrow msidespad">
                <div class="basicrow">Tipo de cuenta de servicio Prepago, Postpago que desea crear.</div>

                <div class="basicrow m-top-ii m-bott">
                  <select class="sel-f">
                    <option>Individual / Update</option>
                  </select>
                </div>
              </div>
            </div>
          </div>

          <div class="col-xs-12 col-sm-6 col-md-4 col-lg-4 col-sm-offset-3 col-md-offset-0 col-lg-offset-0">
            <div class="autowcont i-agentcont m-top-i">
              <div class="basicrow msidespad">
                <div class="b-title">
                  <div class="autocont roboto-m f-bmed pull-left vcenter">
                    <div class="tabcell">Verificaci&oacute;n de Identidad</div>
                  </div>
                </div>
              </div>

              <div class="basicrow msidespad">
                <div class="basicrow m-bott">
                  <div class="basicrow">
                    <label class="label-f"> &#42; Buscador </label>

                    <div class="basicrow rel">
                      <img
                        data-toggle="popover"
                        data-html="true"
                        data-content="Lorem ipsum dolor sit amet, consectetur adipiscing elit."
                        data-placement="bottom"
                        class="q-t"
                        width="100%"
                        src="../../assets/images/tooltip1.png"
                      />

                      <input placeholder="Seguro Social / Numero de tel&eacute;fono /  BAN" class="inp-f qt" />
                    </div>
                  </div>

                  <div class="basicrow">
                    <input placeholder="4 SSN" class="inp-f ag-ssn m-top-ii" />

                    <a (click)="goTo('new-client')" class="btns red def-ii pull-left vcenter m-top-ii">
                      <span class="tabcell"> Buscar <i class="fa fa-search"></i> </span>
                    </a>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <app-footer style="position: static;bottom: 0;"></app-footer>
</div>
